$font-family: 'Raleway', sans-serif;
$font-size: 16px;
$milk-color: rgb(221, 213, 189);
$disabled-color: rgb(151, 148, 140);
$hover-color: rgb(97, 97, 97);
$tooltip-color: #8D7D3E;
$cookie-color:  #925800;
$background-primary: rgb(221, 213, 189);
$background-secondary: #E1E1E1;
$background-shop: #E1E1E1;


