@import './_variables.scss';

.achievements{
    grid-area: achievements;
    text-align: left;
    border-top: 2px solid black;
    background: $background-secondary;
    font-weight: normal;
    position: relative;
}

.achievements__header_{
    width: 100%;
    position: relative;
    z-index: 999;
    background: $background-secondary;
}

.achievements__header__element{
    padding-bottom: 10px;
    width: auto;
    display: inline-block;
    padding-right: 40px;
    margin-left: 1em;
    border-bottom: 2px solid black;
}

.achievements__container{
    display: grid;
    justify-content: space-around;
    row-gap: 30px;
    column-gap: 20px;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: auto auto;

    height: 100%;
    padding-bottom: 20px;
    overflow-y: scroll;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}

.achievements__item{
    border: 1.5px solid black;
    padding: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: $milk-color;
    position: static;
}

.achievements__item__image__icon{
    font-size: 2em;
}

.achievements__item__information{
    box-sizing: border-box;
    display: none;
    width: 300px;
    height: 150px;
    background-color: $tooltip-color;
    color: #fff;
    text-align: center;
    border: 1.5px solid black;
    padding: 20px;
    position: absolute;
    z-index: 10;
}

.achievements__item__information__image__icon{
    font-size: 2em;
}

.achievements__item:hover{
    border: 1.5px solid $hover-color;
}

.achievements__item:hover .achievements__item__information{
    display: block;
}

.achievements__item__value{
    padding: 0px;
    margin: 0px;
    text-align: center;
    p{
        margin: 5px 0px 0px 0px;
    }
}

.achievements__item--disabled{
    cursor: not-allowed;
    background: $disabled-color;
}